
a{
    padding-left: 10px;
    color: rgba(7, 13, 104, 0.781);
    font-size: 22px;
}
a:hover{
    color: red;
}
.nav1{
    height: 100px;
    margin-bottom: 0.8px;  
    background: linear-gradient(-76deg,grey  50%,green 50%);
}
nav{
    float: right;
}
.headerinfo{
    height: 600px;
    background-image: url(images/allpets.jpg);
    background-size: cover;
    text-align: center;
    overflow: scroll;
}
#pets{
    text-align:center;

}
#pets::first-letter{
    color:rgb(241, 37, 207)
}

.unordered{
    text-align: center;
}
.exp1{
    border:5px solid rgb(74, 74, 87);
    margin:50px 50px 50px 20px;
    flex-direction:row;
    justify-content:space-between;
    text-align: center;
    background-color: cadetblue;
    
    
    
}
.dg1{
    display: inline-block;
}

#german{
    margin:0 20px 20px 20px;
}

.exp2{
    float:right;
    margin:50px 50px 50px 20px;
    border:5px solid rgb(74, 74, 87);
    flex-direction:row;
    justify-content:space-between;
    text-align: center;
    background-color: cadetblue;
    
}

.exp3{
    float: right;
    border:5px solid rgb(74, 74, 87);
    margin:50px 50px 50px 20px;
    flex-direction:row;
    justify-content:space-between;
    background-color: cadetblue;
    text-align:center;
    
        
    
}
#cats{
    margin:0 20px 0 20px;
}
ul{
    display:block;
    text-align: center;
    text-decoration: none;
}
li{
    color:purple
}


main{
    display:flex;
    justify-content: space-around;
    align-content:space-between;
    padding: 20px;
    background-color: darkorchid;
    

}
footer{
    background-color: rgb(110, 110, 150);
    display:flex;
    align-items: center;
    justify-content:space-between;

}